.toggle-button {
    position: absolute;
    bottom: 20px;
    left: 60px;
    padding: 10px 20px;
    background-color: #293039;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s;
  }
  
  .toggle-button:hover {
    background-color: #0056b3;
  }