.button {
    padding: 10px 20px;
    background-color: #C80405;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #b64c4c;
  }
  