.flight-details {
    position: fixed;
    top: 75%;
    right: 45%;
    width: 300px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    color: #000; 
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    color: #000; 
  }
  
  .button_plane {
      background-color: #C80405;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      height: fit-content;
      padding: 5px 10px; /* Adjust padding to make the button smaller */
      font-size: 12px; /* Reduce font size to decrease button size */
    }
  
  .button_plane:hover {
    background-color: #b64c4c;
  }
  