.toggle-line-button {
    position: absolute;
    bottom: 20px; 
    left: 40px;
    padding: 10px 20px;
    background-color: #c80405; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px;
    cursor: pointer; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s, transform 0.3s; 
    z-index: 1000; 
  }
  
  .toggle-line-button:hover {
    background-color: #c74b4b; 
  }
  
  .toggle-line-button:active {
    transform: scale(0.95); 
  }
  
  .toggle-line-button:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); 
  }
  