.planning-buttons-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000; /* Ensure the buttons are above other elements */
}

.planning-button {
    background-color: #C80405; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.planning-button:hover {
    background-color: #C80405;
}

.planning-button:disabled {
    background-color: #b65f5f; /* Lighter green */
    cursor: not-allowed;
    opacity: 0.7;
}
