.start-button {
    position: absolute;
    top: 62px; 
    right: 60px;
    padding: 10px 20px;
    background-color: #c80405; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px;
    cursor: pointer; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s, transform 0.3s; 
    z-index: 1000; 
  }
  
  .start-button:hover {
    background-color: #c74b4b; 
  }
  
  .start-button:active {
    transform: scale(0.95); 
  }
  
  